.headerTitle{
    text-align: center;
    font-family: Helvetica Neue;
    font-size: 20px;
    color:#555;
    margin-top:20px;
}
.tab-scroll-wrapper{
    border: 1px solid #ccc;
    border-radius:4px;
    width:50%;
    height:33vh;
    margin: 20px auto 0 auto;
    background-color: #fafafc;
}
.tabContainer{
    display:flex;
    align-items: center;
    height:85px;
    margin: 10px auto 0 auto;
    width:76%;

}
.react-tabs-container{
    background-color: #fafafc!important;
    border-color:#fafafc!important;
    overflow-x: scroll!important;
    overflow-y: hidden;
    height:50px!important;
    margin-left:10px;
}
.react-tabs-tab {
    color: #555!important;
    width: 65px!important;
    min-width: 60px!important;
    line-height: 20px;
    display: flex;
}
.react-tabs-active {
    /* background-color: #ccc!important; */
    color: #555!important;
    border-color: #fafafc!important;
    line-height: 20px;
    border-bottom: 2px solid #187efb!important;
    background-color: #fafafc!important;;
    display: flex;
}
.react-tabs-tab-close{
    margin-top: -10px;
    border:0!important;
    background-color: #fafafc!important;
}

.back-arrow{
    line-height: 85px;
    position: absolute;
    margin-left: 30px;
    cursor: pointer;
    font-size: 23px;

}
.front-arrow{
    line-height: 85px;
    position: absolute;
    right: 50vh;
    cursor: pointer;
    font-size: 23px;
}
.contentText{
    text-align: center;
    font-size: 20px;
    color:#555;
    font-family: Helvetica Neue;
    font-weight: 500;
    margin-top:15px;
}
.addTabs{
    margin-top: 29px;
    margin-right: 10px;
    font-weight: 600;
    cursor: pointer;
}
::-webkit-scrollbar{
    display:block;
}
.modalPopup{
    background-color: #ccc;
    height: 65px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: -15px auto 0 auto;
    box-shadow:2px 2px 2px grey;
}
.confirmText{
    text-align: center;
    padding-top:10px;
}
.btnContainer{
    position: absolute;
    left:47%;
    margin-top:5px;
}
.react-tabs-tab-content{
    font-family: Helvetica Neue;
    font-size: 12px;
    font-weight: 600;
}
#back-arrow,#front-arrow{
    display: none;
}